.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.header h2 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.add-product-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  text-align: left;
  flex-direction: column;
  align-items: center;
}

input,
select,
textarea {
  background-color: #f4f7fb;
}

.add-category-location {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basic-info,
.add-category-location {
  padding: 20px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
}

.basic-info h2,
.add-category h2,
.add-location h2 {
  font-size: 18px;
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input,
.input-group textarea,
.category-actions select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.create-new {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.create-new i {
  font-size: 14px;
}

.input-group textarea {
  resize: none;
  height: 100px;
}

/* image upload */

.image-uploader {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}

.add-image {
  width: 200px;
  height: 200px;
  background-color: #d9f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.add-image-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #666;
  gap: 10px;
}

.add-image input {
  display: none;
}

.image-preview {
  display: flex;
  gap: 10px;
  width: 700px;
  overflow-x: auto;
  padding: 5px;
}

.image-container {
  width: 200px;
  height: 200px;
  position: relative;
  border: 2px solid #1389f0;
  border-radius: 8px;
  flex-shrink: 0;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-button:hover {
  background: red;
}

/* image upload end*/
